@mixin noemoji() {
  text-decoration: none;
  padding: 1px 7px;
  font-size: 1.2em;
  border-radius: 4px;
  font-family: $font-sans-emoji;
  border: 0;
  line-height: 0px;
  color: $color-brand;
}

.footnotes {
  ol {
    list-style-position: unset;
    margin-left: $ol-footnote-spacing-unit;
  }

  .reversefootnote {
    @include noemoji()
  }
}

.c-content a:not(.c-btn).reversefootnote {
  @include noemoji()
}

.reversefootnote:hover {
  background-color: $color-footnote-link-hover;
}